# 忽略所有 .md 文件
*

# 不忽略 README.md 文件
!☆*
!*.md

# 不忽略
!/.gitignore
!/.gitattributes

# 不忽略 src .github 文件夹
!/src/
!/src/**
!/.github/
!/.github/**

# 忽略 src 下自动生成的文件
src/json/**
src/☆GM放大镜_多功能版.js
src/☆GM论坛勋章放大镜.js
src/☆二手市场大宝剑布丁特效版V028.js